body,html {
      height: 100%;
      width: 100%;
}

header.startup {background-image: url("header.jpg");
				background-size: cover;
				background-position: center;
				height: 100%;
}

header.startup h1 {text-transform: uppercase;
				   color: white;
				   margin-top: 150px;
				   margin-bottom: 200px;
				   text-align: center;
}

.btn {text-transform: uppercase;
	  border-radius: 300px;
	 }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

.btn-primary {
	text-align: center;
}
